@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  min-height: 64px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.navigation-logo {
  width: 138px;
  min-height: 64px;
  overflow: hidden;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-list {
  width: 339px;
  min-height: 64px;
  overflow: hidden;
  align-items: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
  width: 268px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.sedona-Arizona {
  text-align: center;
  width: 1200px;
  min-height: 261px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-button {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  color: #FFFfff;
  background-color: #756157;
  text-align: center;
}

.hero {
  background-image: url(../images/divider.svg), url("../images/index-bg.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  min-height: 485px;
  overflow: hidden;
}

.hero-img {
  display: block;
  margin: 0 auto;
}



.city-sedona {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0%;
}

.reasons {
  font-family: "PT Sans", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}



.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}


.advantages-sedona {
  color: rgba(0, 0, 0, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  min-height: 385px;
  overflow: hidden;
}

.advantages-dark-item {
  display: flex;
  font-family: "PT Sans", sans-serif;
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
  min-height: 385px;
  overflow: hidden;

}

.advantages-light-item {
  font-family: "PT Sans", sans-serif;
  background-color: #83B3D31F;
  color: #000000;
  width: 400px;
}

.advantages-middle-item {
  font-family: "PT Sans", sans-serif;
  background-color: #83B3D333;
  color: #000000;
  width: 400px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-comparison-dark {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
}

.advantages-comparison {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
}

.description-accommodation-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.comfort-coziness {
  width: 1200px;
  min-height: 246px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.additions-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.additions-item-middle {
  font-family: "PT Sans", sans-serif;
  background-color: #83B3D31F;
  display: flex;
  width: 400px;
  min-height: 385px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.additions-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.additions-comparison {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
}

.booking {
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 406px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.booking-interest {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.booking-travel-date {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}


.mailing {
  display: flex;
  background-image: url("/images/Subscribe_2.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 414px;
  overflow: hidden;
}

.mailing-2 {
  display: flex;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 414px;
  overflow: hidden;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.subscribe {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.inform {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}

.yomail {
  font-family: "PT Sans", sans-serif;
  color: #F2F2F2;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}

.search-button {
  width: 376px;
  min-height: 52px;
  overflow: hidden;
  text-align: center;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.sending-text {
  width: 452px;
}

.sending {
  display: flex;
}

.button_mail {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  width: 232px;
}

.contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  line-height: 40px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.social-list {
  display: flex;
}

/**.inner-header-title {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  }**/

.inner-header {
  background-image: url("/images/Subscribe_2.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  min-height: 412px;
  margin: 0 auto;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
}

.filter-products {
  display: flex;
  width: 1060px;
  min-height: 160px;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.catalog-filter-group-1 {
  width: 150px;
  min-height: 157px;
  border: none;
}

.catalog-filter-group-2 {
  width: 150px;
  min-height: 157px;
  border: none;
}

.catalog-filter-group-3 {
  display: flex;
  width: 288px;
  min-height: 160px;
  border: none;
}

.filter-container-buttons {
  display: flex;
  width: 191px;
  min-height: 104px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.catalog-filter-list{
  color: #ffffff ;
  list-style: none;
  }

.catalog-filter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  }

.control-input {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
}

.appointment-money {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.filter-button {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.active-filter-button {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-title {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

.card-title {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.card-description {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

.card-price {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

.more-button {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  font-weight: 700;
  text-transform: uppercase;
}

.card-favourite {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
}

.card-favourite2 {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  font-weight: 700;
  text-transform: uppercase;
}

.card-rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  list-style: none;
  width: 1060px;
  min-height: 60px;
  margin: 0 auto;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

.pagination-item.pagination-item-active {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-2 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.information {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.favourites-link {
  color: #7DB54F;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  min-height: 120px;
  overflow: hidden;
}

/*.button{
    color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  }
